<div class="container">
<app-nav-bar [title]="title"></app-nav-bar>
<h3 class="text-center my-4">
    Get News Articles Based on the categories below:
</h3>
    <div class="grid grid-cols-2 md:grid-cols-1 lg:grid-cols-4 gap-4 mt-2 justify-center">
        <ng-container *ngFor="let category of categories">
            <a [routerLink]="['/articles', category.path]" class="category-link">
                <div class="image-container">
                    <img [src]="category.icon" alt="Category Image" class="category-image">
                    <div class="overlay-text">
                        {{ category.label }}
                    </div>
                </div>
            </a>
        </ng-container>
    </div>    

</div>
