<div class="container">
<app-nav-bar [title]="title"></app-nav-bar>


    <h3 class="text-center my-4">
        Get Sources Based on the categories below:
    </h3>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-2 justify-center">

<a [routerLink]="['/sources/business']"   >

        Business Sources
  
</a>


    <a [routerLink]="['/sources/entertainment']" >
    Entertainment Sources
    </a>


    <a [routerLink]="['/sources/general']">
    General Sources
    </a>


    <a [routerLink]="['/sources/health']">
    Health Sources
    </a>


    <a [routerLink]="['/sources/science']">
    Science Sources
    </a>


    <a [routerLink]="['/sources/sports']">
    Sports Sources
    </a>


    <a [routerLink]="['/sources/technology']">
    Technology
    </a>

</div>
</div>
