.grid{
    display: flex;
    justify-content: space-between;
}
a{
    color: #15425F;
    text-decoration: none;
}
span{
    color: #15425F;
}
h2,p,.fa{
    font-size: 1.5vw;
}

@media  screen and (max-width: 768px){
    h2,p,.fa{
        font-size: 15px;
    }
    
}