/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: #CDF4F0;
}
.box{
    display: flex;
    
}
.box div{
    border-radius: 15px;
    background-color: #15425F;
    padding: 1vw;

}
.box a{
    color: white;
    text-decoration: none;
}

body{
    padding: 2.5vw;
}
hr{
    color: black;
    background-color: black;
}